@use './mix.scss' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

@keyframes rot55 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

html,
body,
.app {
  width: 100%;
  background-color: $backgroundColor;
  @include Components();
  .loader-container {
    width: 100%;
    min-height: 100vh;
    background-color: $backgroundColor;
    @include flex();
    overflow: hidden;
    .spinner {
      width: 5em;
      height: 5em;
      cursor: not-allowed;
      border-radius: 50%;
      border: 2px solid #444;
      box-shadow: -10px -10px 10px #6359f8, 0px -10px 10px 0px #9c32e2,
        10px -10px 10px #f36896, 10px 0 10px #ff0b0b, 10px 10px 10px 0px#ff5500,
        0 10px 10px 0px #ff9500, -10px 10px 10px 0px #ffb700;
      animation: rot55 0.5s linear infinite;
      .spinnerin {
        border: 2px solid #444;
        width: 1.5em;
        height: 1.5em;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

.pdf-export {
  font-family: 'Arial, sans-serif'; 
  color: #000;
  background: #fff;
}

.pdf-export h3 {
  font-size: 18px;
  font-weight: bold;
}

.pdf-export .totalBox {
  font-size: 16px;
  font-weight: bold;
}
