@use '../../styles/mix.scss' as *;

@keyframes SummaryFinalAnimation {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }
  50% {
    opacity: 0.5;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes breathe {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.home-page-wrapper {
  width: 100%;
  padding: 24px 120px;
  padding-bottom: 200px;
  padding-top: 120px;
  .home-page {
    @include flexcol();
    width: 100%;
    max-width: 1440px;
    align-items: center;
    margin: 0 auto;
    .title-content {
      background-color: $black;
      padding: 12px 36px;
      width: 100%;
      @include flexcol();
      gap: 8px;
      border-radius: 8px;
      max-width: 600px;
      width: 100%;
      h1 {
        color: $white;
        font-size: 28px;
        line-height: normal;
        width: 100%;
        text-align: center;
      }
      p {
        color: $white;
        font-size: 16px;
        line-height: 1.8;
        width: 100%;
        text-align: center;
      }
    }
    .form-section {
      width: 100%;
      max-width: 600px;
      background-color: $black;
      margin-top: 24px;
      padding: 24px;
      border-radius: 8px;
      @include flexcol();
      gap: 24px;
    }
    .daysContainer {
      background-color: transparent;
      width: 100%;
      @include flexcol();
      gap: 40px;
      margin-top: 60px;
      align-items: center;
      .title-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 18px;
        .icon {
          color: $white;
          font-size: 38px;
        }
        h3 {
          color: $white;
          font-size: 32px;
          font-weight: 600;
          line-height: normal;
        }
      }
      .daysTable {
        width: 100%;
        background: transparent;
        border-radius: 12px;
        overflow-x: auto;
        margin-bottom: 20px;

        table {
          width: 100%;
          border-collapse: collapse;
          thead {
            background-color: $black;
            tr th {
              color: $white;
              padding: 12px 24px;
              font-size: 18px;
              text-align: left;
            }
          }
          tbody {
            border: 1px solid $black;
            tr,
            td {
              padding: 24px 24px;
              text-align: left;
              background-color: $backgroundColor;
              border-bottom: 1px solid #eeeeee13;
              line-height: normal;
              color: $white;
              font-size: 15px;
              font-weight: 500;
            }
          }
          select {
            background-position: 90%;
            font-size: 14px;
            padding: 8px 12px;
            letter-spacing: -0.2px;
            &:disabled {
              cursor: no-drop;
              opacity: 50%;
              background: #00000010;
              color: #999;
              border: 1px solid #cecece30;
            }
          }
        }

        &.empty {
          padding: 20px;
          text-align: center;
          color: #666;
          @include flex();
          width: 100%;
        }
      }
      .pagination {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 18px;
        span {
          color: white;
          font-weight: 500;
          font-size: 18px;
          padding: 0 4px;
        }
        button {
          height: 40px;
          min-height: 40px;
          @include flex();
          border-radius: 4px;
          outline: none;
          border: 2px solid #cecece30;
          background-color: $black;
          padding: 10px 24px;
          cursor: pointer;
          transition: 200ms ease;
          gap: 12px;
          position: relative;
          overflow: hidden;
          p {
            color: white;
            font-size: 16px;
            font-weight: 500;
            position: relative;
            z-index: 1;
          }

          &.disabled {
            opacity: 50%;
            cursor: no-drop;
          }
          &::after {
            transform: scale(0.6);
            content: '';
            width: 0;
            transition: 300ms ease;
            height: 100%;
            left: 0;
            position: absolute;
            z-index: 0;
            border-radius: 100px;
            background-color: $purple;
          }
          &:hover {
            &::after {
              transform: scale(1.2);
              width: 100%;
            }
          }
          @include click();
        }
      }
    }
    .daysTableEmpty {
      margin: 12rem 2rem 2rem 2rem;
      padding: 12px;
      background-color: transparent;
      color: $hoverWhite;
    }
    .summary {
      background-color: transparent;
      width: 100%;
      margin-top: 60px;
      @include flexcol();
      gap: 36px;
      align-items: center;
      .title-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 18px;
        .icon {
          color: $white;
          font-size: 38px;
        }
        h3 {
          color: $white;
          font-size: 32px;
          font-weight: 600;
          line-height: normal;
        }
      }

      .summary-section {
        padding: 28px 18px;
        border-radius: 4px;
        background-color: transparent;
        width: 100%;
        @include flexcol();
        gap: 12px;
        .title-with-icon {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 12px;
          .icon-config {
            color: $white;
            font-size: 21px;
          }
          h3 {
            color: $white;
            font-size: 18px;
            font-weight: 600;
            line-height: normal;
          }
        }
        ul {
          margin-top: 0.5em;
          background-color: $black;
          box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.117);
          @include flexcol();
          gap: 5px;
          padding: 18px 34px;
          li {
            list-style-type: none;
            color: $white;
            font-size: 16px;
            line-height: normal;
            text-align: left;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 12px;
            text-transform: capitalize;
            font-weight: 600;
            span {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              gap: 10px;
              .icon-in {
                color: $white;
                font-size: 18px;
              }
              span {
                text-transform: capitalize;
                font-weight: 500;
                color: #999;
                letter-spacing: -0.1px;
              }
            }
            p {
              color: $white;
              font-weight: 600;
              font-size: 18px;
              line-height: normal;
              text-align: left;
              text-transform: capitalize;
            }
          }
        }
      }
      .summary-details {
        padding: 28px 18px;
        border-radius: 4px;
        background-color: transparent;
        width: 100%;
        @include flexcol();
        gap: 12px;
        .title-with-icon {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 12px;
          .icon-config {
            color: $white;
            font-size: 21px;
          }
          h3 {
            color: $white;
            font-size: 18px;
            font-weight: 600;
            line-height: normal;
          }
        }
        .days-grid {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          justify-items: flex-start;
          align-items: flex-start;
          gap: 18px;
          .dayCard {
            background-color: $black;
            width: 100%;
            padding: 24px;
            border: 1px solid #cecece10;
            border-radius: 4px;
            transition: 300ms ease;
            cursor: auto;
            will-change: contents;
            .date {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              gap: 12px;
              p {
                color: $white;
                font-size: 16px;
                font-weight: 500;
                letter-spacing: -0.1px;
              }
              .calendar {
                color: $white;
                font-size: 18px;
              }
            }
            .row-container {
              width: 100%;
              @include flexcol();
              margin-top: 24px;
              gap: 8px;
              .row {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 8px;
                span {
                  text-align: left;
                  color: #999;
                  font-weight: 500;
                }
                p {
                  text-align: end;
                  color: $white;
                  font-size: 15px;
                  line-height: 1.6;
                  letter-spacing: -0.2px;
                  font-weight: 500;
                }
              }
            }
            .dayTotal {
              width: 100%;
              background-color: $hoverBlack;
              padding: 10px 21px;
              border-radius: 8px;
              margin-top: 18px;
              display: flex;
              align-items: center;
              justify-content: space-between;
              p {
                color: $white;
                font-weight: 600;
                font-size: 17px;
                line-height: normal;
                letter-spacing: -0.2px;
                text-transform: capitalize;
              }
              span {
                background-color: $black;
                padding: 5px 18px;
                border-radius: 4px;
                color: mediumseagreen;
                font-weight: 600;
                letter-spacing: -0.2px;
                font-size: 18px;
              }
            }
            &:hover {
              box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.117);
              transform: scale(1.05) rotate(2deg) translateY(-20px);
            }
          }
        }
      }
      .summary-final {
        will-change: contents;
        opacity: 0;
        pointer-events: none;
        position: fixed;
        z-index: 1000;
        bottom: 10px;
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 28px 32px;
        border-radius: 4px;
        background-color: $black;
        border: 2px solid #cecece10;
        h3 {
          color: $white;
          border-left: 24px solid $purple;
          font-size: 36px;
          font-weight: bold;
          letter-spacing: 0.1px;
          padding-left: 12px;
        }
        .totalBox {
          font-size: 40px;
          font-weight: bold;
          letter-spacing: 1px;
          color: $white;
          background-color: $purple;
          padding: 4px 28px;
          border-radius: 4px;
          transition: 150ms ease;
          &.actived {
            opacity: 0;
            background-color: mediumaquamarine;
            transform: scale(0.5) skewX(100deg);
            letter-spacing: -1rem;
          }
        }
        &.visible {
          opacity: 1;
          pointer-events: all;
          animation: SummaryFinalAnimation 1s ease forwards normal;
        }
      }
    }
  }
}
