@use '../../styles/mix.scss' as *;

.header-wrapper {
  width: 100%;
  background-color: $black;
  padding: 12px 120px;
  position: fixed;
  top: 0;
  z-index: 10000;
  border-bottom: 1px solid #303030;
  transition: 300ms ease;
  .header {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    .mock-logo {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 24px;
      .logo {
        border: 1px solid $hoverWhite;
        border-radius: 100%;
        color: $purple;
        transition: 200ms ease;
        font-size: 70px;
      }
      .bottom {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 4px;
        h2 {
          color: $white;
          font-size: 24px;
          font-weight: 600;
          letter-spacing: -0.2px;
          text-transform: capitalize;
        }
        p {
          color: $white;
          background-color: $hoverBlack;
          padding: 2px 12px;
          border-radius: 2px;
          font-size: 14px;
          letter-spacing: -0.1px;
        }
      }
    }
    .right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 48px;
      .user {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 12px;
        h4 {
          color: $white;
          font-size: 21px;
          font-weight: bold;
          letter-spacing: -0.5px;
        }
        .person {
          color: $white;
          font-size: 28px;
        }
      }
      .settings {
        color: $white;
        font-size: 30px;
        cursor: pointer;
        transition: 150ms ease;
        &:hover {
          color: mediumslateblue;
        }
        @include click();
      }

      .language-select-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 2px;
        background: $hoverBlack;
        padding: 4px 12px 4px 12px;
        border-radius: 4px;
        .language-dropdown {
          padding: 8px 12px;
          border-radius: 4px;
          background-color: transparent;
          color: $white;
          font-size: 18px;
          font-weight: 500;
            border: 2px solid transparent;
          outline: none;
          cursor: pointer;
          transition: 200ms ease;
          text-transform: uppercase;
          letter-spacing: 2px;
          option {
            background-color: $black;
            color: $white;
          }
          &:focus {
            cursor: auto;
            border: 2px solid $purple;
          }
        }
        .language-flag {
          min-width: 20px;
          width: 20px;
          min-height: 20px;
          height: 20px;
          border-radius: 2px;
        }
      }
    }
  }
  &.is_scrolling {
    background-color: rgb(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transform: translateY(1rem);
    .mock-logo .logo {
      border: 2px solid $white;
    }
  }
}
